* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease-in-out;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(29, 31, 1, 1) 0%,
    rgba(32, 17, 2, 1) 100%
  );
}
.main {
  position: relative;
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(23, 4, 40, 1) 0%,
    rgba(32, 17, 2, 1) 100%
  );
  border-radius: 10px;
  animation: moveGlow 4s infinite linear;
}

.main button {
  margin: 0 30px;
}
.main #logo  {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 25px;
  color: #ccc;
  height: 120px;
}
.main #logo i {
  margin: 15px 5px;
}

/* left & right part */

.right,
.left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* song image */
.left img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 1px 1px 90px 15px rgba(10, 171, 225, 0.743);
}

.spin-logo {
  animation: spinImage 5.5s linear infinite;
}

/* both range slider part */
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff8a65;
  
}
.right input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 5px;
  
}
.right input[type="range"] {
  width: 70%;
}

/* volume part */
.left input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.left .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.left .volume p {
  font-size: 15px;
}
.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
  background: #ff8a65;
}
.left .volume i:hover {
  background: rgba(245, 245, 245, 0.1);
}
.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.1);
}

/* right part */
.right .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .middle button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.1);
}
.right #title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 35px;
  width: 100%;
  text-align: center;
}
.right #artist {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}
.right .duration {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 40px;
}
.right .duration p {
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
}

#play {
  background: #ff8a65;
}
.right button:hover {
  background: #ff8a65;
}
.right i:before {
  color: #fff;
  font-size: 20px;
}

.right .show_song_no {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.right .show_song_no p:nth-child(2) {
  margin: 0 5px;
}

@media screen and (max-width: 1420px) {
  .main {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .main {
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .main button {
    margin: 0 15px;
  }

  .right #artist {
    text-align: center;
    width: 100%;
  }

  .left img {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }

  .main button {
    margin: 0 30px;
  }
  .main #logo {
    display: none;
  }

  /* left & right part */
  .right,
  .left {
    position: relative;
    height: 100%;
    width: 95%;
  }

  /* song image */
  .left img {
    height: 250px;
    width: 250px;
  }
  .left .volume {
    z-index: 999;
  }

  /* both range slider part */
  input[type="range"] {
    width: 60%;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
  }
  .right input[type="range"] {
    width: 100%;
  }

  /* volume part */
  .left .volume {
    top: 185%;
  }

  /* right part */
  .right .middle button {
    position: relative;
    bottom: 40px;
    height: 80px;
    width: 80px;
    transition: 0.5s ease-in-out;
  }
  .right #title {
    top: -30px;
  }
  .right #artist {
    top: 20px;
  }
  .right .duration {
    bottom: 35%;
    height: 0;
    margin-top: 0;
  }

  .right i:before {
    font-size: 30px;
  }

  .right .show_song_no {
    position: relative;
    top: 135px;
    margin: auto;
    padding: 5px 10px;
  }
  .right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right .middle button {
    height: 70px;
    width: 70px;
  }

  .main button {
    margin: 10px;
  }
  .right #title {
    top: -20px;
    font-size: 30px;
  }
  .right #artist {
    top: 26px;
    font-size: 15px;
  }
}

/* 
KEYFRAMES  */

@keyframes moveGlow {
  0% {
    box-shadow: 5px -5px 10px rgba(232, 32, 32, 0.5),
      /* top right */ 5px 5px 10px rgba(91, 207, 13, 0.5),
      /* bottom right */ -5px 5px 10px rgba(46, 75, 224, 0.5),
      /* bottom left */ -5px -5px 10px rgba(109, 37, 127, 0.5); /* top left */
  }
  25% {
    box-shadow: 5px 5px 10px rgba(232, 32, 32, 0.5),
      /* bottom right */ -5px 5px 10px rgba(91, 207, 13, 0.5),
      /* bottom left */ -5px -5px 10px rgba(46, 75, 224, 0.5),
      /* top left */ 5px -5px 10px rgba(109, 37, 127, 0.5); /* top right */
  }
  50% {
    box-shadow: -5px 5px 10px rgba(232, 32, 32, 0.5),
      /* bottom left */ -5px -5px 10px rgba(91, 207, 13, 0.5),
      /* top left */ 5px -5px 10px rgba(46, 75, 224, 0.5),
      /* top right */ 5px 5px 10px rgba(109, 37, 127, 0.5); /* bottom right */
  }
  75% {
    box-shadow: -5px -5px 10px rgba(232, 32, 32, 0.5),
      /* top left */ 5px -5px 10px rgba(91, 207, 13, 0.5),
      /* top right */ 5px 5px 10px rgba(46, 75, 224, 0.5),
      /* bottom right */ -5px 5px 10px rgba(109, 37, 127, 0.5); /* bottom left */
  }
  100% {
    box-shadow: 5px -5px 10px rgba(232, 32, 32, 0.5),
      /* top right */ 5px 5px 10px rgba(91, 207, 13, 0.5),
      /* bottom right */ -5px 5px 10px rgba(46, 75, 224, 0.5),
      /* bottom left */ -5px -5px 10px rgba(109, 37, 127, 0.5); /* top left */
  }
}

@keyframes spinImage {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
